#memoContainer {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 250px;
    height: auto;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s, height 0.3s;
    /* Add transition for smooth resizing */
}

#memoHeader {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: move;
    text-align: center;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toggleButton {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
}

#deleteButton {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px; // Adjust margin as needed
}

#pageMemo {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    width: calc(100% - 20px);
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #000;
}

#memoIcon {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    z-index: 1001;
    background-color: #007BFF;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    text-align: center;
}